@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@fontsource/inter";
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";
@import "@fontsource/inter/800.css";

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    scroll-behavior: smooth;
  }
  
  [data-scroll-behavior="smooth"] {
    scroll-behavior: smooth;
  }
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

video {
  background-color: transparent !important;
  filter: none !important;
  color-scheme: light dark;
}

.homepage-hero-bg {
  object-fit: contain;
  width: 100%;
  top: 0;
  left: 0;
}

.circles-bg {
  z-index: 0;
  background-image: url('/images/agents/cirles-bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 110%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

.activity-bg {
  z-index: 0;
  background-image: url('/images/homepage/metric-bg.png');
  background-repeat: repeat;
  opacity: 0.4;
  width: 100%;
  background-position: center;
  background-size: 45px 45px;
  position: absolute;
}

.agents-bg {
  background-image: url('/images/agents/circles-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

.roadmap-bg {
  background-image: url('/images/roadmap-page/roadmap-bg.webp');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
  position: absolute;
  bottom: -15%;
  left: -5%;
  width: 110%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

.transparent-gradient { 
  background: radial-gradient(47.41% 45.97% at 50.57% 48.91%, rgba(255, 255, 255, 0.00) 65%, #ffffff 85%); 
}

.text-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-tr from-purple-600 to-purple-400;
}

.agent-economy-card {
  border-radius: 12px;
  border: 1px solid #FFF;
  background: radial-gradient(ellipse 585px 263px at top center, var(--gradient-color, rgba(126, 34, 237, 0.15)) 20%, #F2F4F9, rgba(242, 244, 249, 0.50) 100%);
  box-shadow: 0px 8px 24px 0px rgba(24, 39, 75, 0.12);
}

.operate-card {
  box-shadow: 0px 0px 0px 4px #FFF inset;
}

.activity-card-opaque {
  border-radius: 12px;
  border: 1px solid white;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.50) 0%, rgba(242, 244, 249, 0.50) 100%);
  box-shadow: 0px 8px 24px 0px rgba(24, 39, 75, 0.12);
  backdrop-filter: blur(1px);
}

.card-opaque {
  background: rgba(255, 255, 255, 0.80);
  backdrop-filter: blur(12px);
}

.opaque-button:hover {
  background: rgba(255, 255, 255, 0.50);
}

.selected-button {
  background: rgba(255, 255, 255, 0.50);
}

.card-purple {
  @apply bg-gradient-to-t from-white to-purple-50 border-purple-200;
}

.card-lime {
  @apply bg-gradient-to-t from-white to-lime-100 border-slate-200;
}

.card-rose {
  @apply bg-gradient-to-t from-white to-rose-50 border-rose-200;
}

.card-rainbow {
  background: url("/images/pearl-page/agentsfun-bg.png") white center center / cover no-repeat;
}

td, th {
  padding-top: 8px;
  padding-bottom: 8px;
}

tr, th {
  padding-right: 16px;
  padding-left: 16px;
}

.next-error-h1 {
  display: inline-block;
  margin: 0;
  margin-right: 20px;
  padding-right: 23px;
  font-size: 24px;
  font-weight: 500;
  vertical-align: top;
  line-height: 49px;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}
.next-error-desc {
  display: inline-block;
  text-align: left;
  line-height: 49px;
  height: 49px;
  vertical-align: middle;
}

@font-face {
  font-family: 'Neue Machina';
  src: url('/fonts/neue-machina.woff2')format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* anchor classes to be used with unique id for in-page navigation
  and prevent content being obscured by fixed header. */
.anchor-target {
  padding-top: 70px;
  margin-top: -70px;
}

@media (min-width: theme('screens.md')) {
  .anchor-target {
    padding-top: 90px;
    margin-top: -90px;
  }
}